@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
}

.container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #000;
    width: max(50%, 350px);
}

.container .title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.container #app input{
    min-width: 230px;
    padding: 5px 15px;
    border: 1px solid #c2bcbc;
    border-radius: 5px;
}
.container #app button {
    padding: 5px 15px;
    border: 1px solid #c2bcbc;
    border-radius: 5px;
}

.container #body {
    margin-top: 10px;
}
.container #body ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
    margin: 5px 0;
    border: 1px solid #c2bcbc;
    border-radius: 5px;
}
.container #body ul li div {
    display: inline-block;
}
.container #body ul li button {
    padding: 3px 10px;
    margin-left: 3px;
    border: 1px solid #c2bcbc;
    border-radius: 5px;
}
